.password {
  display: flex;
  max-width: 623px;
  padding: 60px 15px;
  margin: 0 auto;

  border: 1px solid #e3e4e6;
  border-radius: 8px;
  box-shadow: 0 2px 7px rgba(#000000, 0.35%);
}

.password__inner {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  margin: auto;

  text-align: center;
}

.password__title {
  margin: 0 0 10px;

  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.password__subtitle {
  margin: 0 0 40px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.password__form {
  margin-bottom: 70px;
}

.password__input-field {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
}

.password__input {
  flex: 1;
  width: 100%;
  padding: 11px 0 10px 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  border: 1px solid #cbccce;
  border-radius: 5px 0 0 5px;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.password__visibility-btn {
  &:active {
    color: #005a97;
  }

  &--active {
    background-color: #f2f2fa;
  }

  width: 64px;
  padding: 0;

  font-size: 24px;

  color: #6d6d70;
  background: none;
  border: 1px solid #cbccce;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.password__submit-btn {
  &:hover,
  &:focus {
    background-color: #005086;
    border-color: #005a97;
    box-shadow: 0 1px 0 #005a97;
  }

  &:active {
    top: 1px;

    box-shadow: none;
  }

  position: relative;

  width: 100%;
  padding: 12px 10px 8px;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  color: #ffffff;
  background: #0074c1;
  border: 1px solid #006b98;
  border-radius: 5px;
  box-shadow: 0 1px 1px #006b98;
  outline: 0;
  cursor: pointer;

  transition: 0.1s background-color;
}

.password__tip {
  position: relative;

  padding-left: 25px;
  margin: auto 0 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #78787d;
}

.password__tip-icon {
  &::before {
    content: "\e802";

    width: 100%;
    height: 100%;

    font-family: icon-slevomat-frontend;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;

    color: #cbccce;
  }

  position: absolute;
  left: 0;
  top: 3px;
}
